
@import "bootstrap/bootstrap";

@black: #000000;
@white: #ffffff;


@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
@header-font: "Raleway";
@body-font: "Quicksand";
@paragraph-font: "Noto Sans";

@base: #5331C0;
@highlight: #6D4FCF;

@body-background-color: #2a2a2a;
@container-background-color: #226666;
@body-font-color: #ffffff;

@well-color: #333333;
@well-color-dark: #222222;

@grey: #444444;
@grey-dark: #222222;

@gfyborder: #666666;

@navbar-link-color: #ffffff;

@link-color: #ffffff;


/* Defines some styles for various containers */
@import "util/_panels";
@import "util/_gifcontainers";
@import "util/_buttons";
@import "util/_maps";
@import "util/_streams";
@import "util/keyframes";
@import "util/pageTransitions";


/* Handles media queries for different size devices */
@import "sizes/_phone";
@import "sizes/_tablet";
@import "sizes/_desktop";

/* page specific less */
@import "page/homepage";
@import "page/char.less";
@import "page/techlist.less";
@import "page/card.less";



body, label, .checkbox label {
	font-weight: 300;
	color: @body-font-color;
}

body {
	background-color: @body-background-color;
}

footer {

    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: @well-color-dark;
}

a {

	text-decoration: none;
	color: @link-color;
	&:hover {
		text-decoration: none;
		color: fade(@link-color, 80);
	}
	.list {
		font-size: 24px;
	}
}

a.list {
	font-size: 24px;
}

/*
 *
 *	Font Stuff
 *
 */
 h1 {
	 font-family: @header-font;
	 font-size: 32px;
	 text-transform: uppercase;
 }
 h2 {
	 font-family: @paragraph-font;
	 font-size: 22px;
	
 }
 h3 {
	 
 }
 p {
	 
 }
 /*
 *
 *	Navbar Stuff
 *
 */
 .navbar-default {
	 background-color: @well-color;
	 border: none;
	 .navbar-nav > li > a {
		 color: @navbar-link-color;
		 &:hover {
			 color: fade(@navbar-link-color, 70);
		 }
	 }
	 .navbar-brand {
		 color: @highlight;
	 }
 }

#content {
	margin-top: 0px;
}
 @media (min-width: 768px) {
 	#content {
 		margin-top: 50px;
 	}
 }
/*
 *
 *	Sidebar Stuff
 *
 */
 #sidebar {
	 padding-left: 0px;
	 padding-right: 0px;
	 height: 50px;
	 h1 {
		 text-align: center;
		 padding: 15px;
	 }
	 ul {
		 padding-left: 0px;
		 list-style-type: none;
		 margin-bottom: 0px;
	 	 border-left: 2px solid @highlight;
		 li {
	 		 background-color: fade(#555555, 90);
		 	 display: inline-block;
			 
			 a {
			 	display: block;
			 	font-family: "Roboto";
			 	text-align: center;
			 	padding: 12.5px;
			 }
			 &:first-child {
				 border-top: 2px solid @highlight;
			 }
			 &:not(:last-child) {
				 border-bottom: 2px solid @highlight;
			 }
			 &:hover {
			 	background-color:  @well-color;
			 }
		 }
		 li.active {
			 	background-color:  @well-color;
			 	//-webkit-box-shadow: inset 0px 49px 38px -37px rgba(0,0,0,0.75);
				//-moz-box-shadow: inset 0px 49px 38px -37px rgba(0,0,0,0.75);
				//box-shadow: inset 0px 49px 38px -37px rgba(0,0,0,0.75);
		 }
		 li.two-column {
		 	background-color: fade(#555555, 90);
		 	display: inline-block;
		 	width: 100%;
		 	a {
		 		width: 50%;
		 		float: left;
		 		display: inline;
				&:hover {
					background-color:  @well-color;
				}
		 	}
		 	a.active {
		 		background-color:  @well-color;
		 	}
		 }
		 li.two-column.bottom {
		 	background-color: @grey;
		 	text-transform: lowercase;
		 	a {
		 		padding: 5px;
		 		padding-top: 12px;
		 		font-family: @font-family-sans-serif;
		 		font-size: 13px;
		 		&:first-child {
		 			padding-left: 10px;
		 			text-align: left;
		 		}

		 		&:last-child {
		 			padding-right: 10px;
		 			text-align: right;
		 		}
		 	}
		 }
	 }

 }
 #map-canvas {
    height: 250px;
    margin-bottom: 25px;
    border-radius: 5px;
}
@media (min-width: 768px) {
	#sidebar {
		height: auto;
		padding-top: 0px;
		ul {
			li {
				display: block;
			}
		}
	}
}	
 

 #main {
	 padding-left: 0px;
	 padding-right: 0px;
 }
 
 
 header {
	 background-color: @highlight;
	 padding: 20px;
	 padding-top: 40px;
	 text-align: center;
	 border-bottom: 1px solid @highlight;
 }
 
 content {
	 background-color: @well-color;
	 display: block;
	 padding: 20px;
	 margin: 0 auto;

 }

 
.listAll {
	margin: 0 auto;
	text-align: center;
 	font-size: 22px;
 	font-family: @header-font;
 }


.no-margin {
	margin: 0px;
}

.affix-top,.affix{
	position: static;
}
.border-right {
	border-right: 2px solid @highlight;
}

//used for generic pages
ul.specList {
    list-style: none;
    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
}
.listitem {
	padding: 5px;
	margin: 5px;
	border: 2px solid @grey;
	overflow: hidden;
	&:hover {
		background-color: fade(@well-color, 1)
	}
}

.counter {
	background-color: transparent;
}



/*
 * Map Canvas
 *
 */
#map-canvas {
    height: 250px;
    margin-bottom: 25px;
    border-radius: 5px;
}
@media (min-width: 768px) {
	#map-canvas {
	    height: 500px;
	    margin-bottom: 25px;
	}
}



/*
 * 404
 *
 */
#lost {
	#samus {
		width: 200px;
	}
	#shot {
	    margin-left: -125px;
    	margin-top: -58px;
		height: 160px;
	}

}

ul.nav.nav-tabs.pills {

	border-bottom: none;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;

	li {
		display: inline-block;
		float: none;
		margin-bottom: 0px;
		a {
			border-radius: 8px 8px 0px 0px;
			background-color: @well-color;
			color: @white;
		}
	}
	li.active {
		a {
			border-bottom: 1px solid @white;
		}
	}
}