.gifcard {

	.panel-heading {
		text-align: left;
		p.cardlabel {
			margin-left: 10px;
			font-size: 55%;
			display: inline;
			text-transform: uppercase;
		}
		.name {
			color: @white;
			font-size: 24px;
			margin-left: 6%;
			&:hover {
				color: highlight;
			}
		}
	}

	.panel-body {
		.description {
			padding-top: 20px;
			text-align: left;
			margin-bottom: 10px;

			.brand {
				bottom: 10px;
				position: fixed;
			}
		}
		.cardgif {

		}
	}
	@media (min-width: 768px) {
		.panel-body {
			.description {
				margin-bottom: 0px;
			}
		}
	}
}