.gifcard {

	.panel-heading {
		text-align: left;

		//borders
		border-radius: 0px;
		p.cardlabel {
			margin-left: 10px;
			font-size: 55%;
			display: inline;
			text-transform: uppercase;
			font-family: @body-font, @font-stack;
			padding-right: 10px;
			border-right: 1px solid @white;
		}
		.name {
			font-family: @header-font, @font-stack;
			color: @white;
			font-size: 24px;
			margin-left: 15px;
			text-transform: uppercase;
			&:hover {
				color: @panel-head-link-color;
			}
		}
		.next-gif {
			display: inline;
			float: right;
		}

	}

	.panel-body {
		.description {
			padding-top: 20px;
			text-align: left;
			margin-bottom: 10px;

			.brand {
				bottom: 10px;
				position: fixed;
			}
		}
		.cardgif {

		}
	}
	@media (min-width: 768px) {
		.panel-body {
			.description {
				margin-bottom: 0px;
			}
		}
	}
}