.chardetail {
	background-color: rgba(0, 0, 0, .55);
	border-radius: 5px;
	p {
		display: inline;
		font-size: 32px;
		&:not(:last-child) {
	    	    padding-right: 10px;
	    		border-right: 1px solid @white;
    	}
	}
	label {
		font-size: 12px;
	}
	.table {
		margin-top: 20px;
		margin-bottom: 20px;
		tr {
			&:not(:last-child) {
				border-bottom: 1px solid @white;
			}
			td {
				border-top: none;
				border-bottom: none;
			}
		}
	}
}

.data-heading {
	font-size: 32px;
	font-family: @header-font, @font-stack;
	margin-bottom: 20px;
	border-bottom: 1px solid @white;
	padding-bottom: 10px;
	margin-top: 10px;
}
.data {
	.updated {
		color: @tooltip-color;
		margin-top: 5px;
	}
}
.dataAnchor {
	border-radius: 5px;
	background-color: @well-color;
	padding: 5px;
	margin-top: 15px;
	list-style-type: none;
	font-family: @paragraph-font, @font-stack;
	li {
		padding-top: 5px;
		padding-bottom: 5px;
		&:not(:last-child) {
    		border-bottom: 1px solid @white;
    	}
	}
	ul {
		margin-top: 10px;
		list-style-type: none;
	}
}


.charico {
	margin-top: 5px;
}

@media (min-width: 992px) {
	.row.charheader {
	    margin-right: -20px;
	}
	.chardetail {
    	border-top-right-radius: 0px;
	    border-bottom-right-radius: 0px;
	}
}

/* This is gonna get messy */
header.charheader {
	background-position-x: 3%;
	background-position-y: 60%;
    background-repeat: no-repeat;
    background-size: 170px;
    min-height: 270px;
    
	h1.char {
		font-size: 55px;
		margin-top: 10%;
	}
	img {
		margin-bottom: 15px;
	}
	&.fox {
	    background-image: url('/img/chars/fox-banner.png');
	}
	&.falco {
		background-image: url('/img/chars/falco-banner.png');
	}
	&.mario {
		background-image: url('/img/chars/mario-banner.png');
	}
	&.yoshi {
		background-image: url('/img/chars/yoshi-banner.png');
	}
	&.donkeykong {
		background-image: url('/img/chars/donkeykong-banner.png');
	}
	&.link {
		background-image: url('/img/chars/link-banner.png');
	}
	&.samus {
		background-image: url('/img/chars/samus-banner.png');
	}
	&.marth {

		background-image: url('/img/chars/marth-banner.png');
	}
	&.sheik {
		background-image: url('/img/chars/sheik-banner.png');
	}
	&.jigglypuff {
		background-image: url('/img/chars/jigglypuff-banner.png');
	}
	&.peach {
		background-image: url('/img/chars/peach-banner.png');
	}
	&.kirby {
		background-image: url('/img/chars/kirby-banner.png');
	}
	&.pikachu {
		background-image: url('/img/chars/pikachu-banner.png');
	}
	&.captainfalcon {
		background-image: url('/img/chars/captainfalcon-banner.png');
	}
	&.ness {
		background-image: url('/img/chars/ness-banner.png');
	}
	&.bowser {
		background-image: url('/img/chars/bowser-banner.png');
	}
	&.drmario {
		background-image: url('/img/chars/drmario-banner.png');
	}
	&.zelda {
		background-image: url('/img/chars/zelda-banner.png');
	}
	&.ganondorf {
		background-position-y: 0px;
		background-image: url('/img/chars/ganondorf-banner.png');
	}
	&.younglink {
		background-image: url('/img/chars/younglink-banner.png');
	}
	&.mewtwo {
		background-image: url('/img/chars/mewtwo-banner.png');
	}
	&.pichu {
		background-image: url('/img/chars/pichu-banner.png');
	}
	&.iceclimbers {
		background-image: url('/img/chars/iceclimbers-banner.png');
	}
	&.mrgameandwatch {
		background-image: url('/img/chars/mrgameandwatch-banner.png');
	}
	&.roy {
		background-image: url('/img/chars/roy-banner.png');
	}
	&.luigi {
		background-image: url('/img/chars/luigi-banner.png');
	}
}